<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disk_Jockey_for_Windows.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Disk_Jockey_for_Windows.Settings>
            <setting name="DefaultDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRONMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Disk_Jockey_for_Windows.Settings>
    </userSettings>
</configuration>